[Unit]
Description=IBKR Client Portal Gateway
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=mwatson
WorkingDirectory=/home/mwatson/clientportal.gw
ExecStartPre=/bin/mkdir -p /home/mwatson/python_projects/trailbot/logs
ExecStart=/home/mwatson/clientportal.gw/bin/run.sh root/conf.yaml
Restart=on-failure
RestartSec=15
StandardOutput=append:/home/mwatson/python_projects/trailbot/logs/cpgateway.log
StandardError=append:/home/mwatson/python_projects/trailbot/logs/cpgateway-err.log

[Install]
WantedBy=multi-user.target
